server:
  port: 8084
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/portfolio_service
    username: postgres
    password: root1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: PORTFOLIO-SERVICE
  kafka:
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: '*'
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
#logging:
#  file:
#    name: logs/app.log
#  level:
#    root: INFO