server:
  port: 8083
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/trade_service
    username: postgres
    password: root1
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  application:
    name: TRADE-SERVICE
  kafka:
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: '*'
  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema.sql
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30
    metadata-map:
      instanceId: ${spring.application.name}:${spring.application.instance-id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics